body {
    font-family: "Gabarito";
    margin: 0;
    background-color: #FFFADD;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 750;
    color: #8ECDDD;
    padding: 20px 0;
}

h2 {
    margin-bottom: 3px;
    color: #22668D;
    font-size: 27px;
}

header {
    padding-top: 0;
    background-color: #22668D;
    text-align: center;
}

.table-tags,
.table-attributes {
    margin-bottom: 40px;
}

table {
    overflow: visible;
    margin: 0px auto;
}

caption {
    color: #80745E;
    margin-top: 10px;
    caption-side: bottom;
}

a {
    font-weight: 600;
    transition-duration: 1s;
}

a:hover {
    transition-duration: 1s;
    font-size: 20px;
}

a:visited {
    color: #80745E;
}

td,
th {
    height: 40px;
    min-width: 300px;
    max-width: 550px;
    padding: 2px 8px 0;
    text-align: center;

}

th {
    font-size: 28px;
    color: #22668D;
    background-color: #FFCC70;
    border: 3px solid #FFCC70;
}

td {
    font-size: 22px;
    color: #22668D;
    background-color: #FFFADD;
    border: 3px solid #FFCC70;
}

.code {
    font-size: 18px;
    font-family: "Roboto Mono";
}

.description {
    font-size: 16px;
}